<span layout="row"><a (click)="expand()">{{label}}</a><hr flex/></span>
<div *ngIf="expanded" [formGroup]="formGroup">
  <form-row forInput="count" label="Quantity" [isInvalid]="submitted && f.count.invalid" errorText="Count is invalid">
    <input type="number" class="form-control" formControlName="count" id="count" [ngClass]="{'is-invalid': submitted && f.count.invalid}">
  </form-row>
  <form-row forInput="price" label="Total Price (€)" [isInvalid]="submitted && f.price.invalid" errorText="Count is invalid">
    <input type="number" class="form-control" formControlName="price" id="price" [ngClass]="{'is-invalid': submitted && f.count.invalid}">
  </form-row>
  <div class="form-group custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" formControlName="ordered" id="ordered">
    <label class="custom-control-label" for="ordered">Is it ordered?</label>
  </div>
</div>


