.box-plain {
    background-color: transparent !important;
}

.no-padding-vertical {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.font-size-small {
    font-size: 12px;
}

.text-grey {
    color: #737373;
}

.footer {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
}

footer p {
    text-align: center;
}