<div class="modal-header">
  <h4 class="modal-title">Status: {{trip?.status | tripStatusPipe}}</h4>
  <modal-btn-close (click)="activeModal.dismiss('Closed Modal')"></modal-btn-close>
</div>
<form [formGroup]="form">
  <div class="modal-body">
    <form-row forInput="name" label="Trip Name">
      <input type="text" class="form-control" formControlName="name">
    </form-row>
    <form-row forInput="departure" label="Departure">
      <input type="text" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="form-control"
             formControlName="departure">
      <owl-date-time #dt1></owl-date-time>
    </form-row>
    <form-row forInput="sourceAddress" label="Source Address">
      <input type="text" class="form-control" formControlName="sourceAddress">
    </form-row>
    <form-row forInput="residenceAddress" label="Residence Address">
      <input type="text" class="form-control" formControlName="residenceAddress">
    </form-row>
    <form-row forInput="carRent" label="Car Rent">
      <input type="text" class="form-control" formControlName="carRent">
    </form-row>
    <form-row forInput="flightTicket" label="Flight Ticket">
      <input type="text" class="form-control" formControlName="flightTicket">
    </form-row>
  </div>
  <div *ngIf="isPending(trip?.userStatus)" class="modal-footer trip-actions">
    <btn-cancel label="Decline" (onClick)="decline()"></btn-cancel>
    <btn-primary label="Confirm" (onClick)="confirm()"></btn-primary>
  </div>
</form>
