<div class="modal-header">
  <h4 class="modal-title">Update user data</h4>
  <modal-btn-close (click)="activeModal.dismiss('Closed Modal')"></modal-btn-close>
</div>
<form [formGroup]="formSettings" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <form-row forInput="name" label="Name" [isInvalid]="submitted && f.name.invalid" errorText="Name is invalid">
      <input type="text" class="form-control" formControlName="name" id="name" [ngClass]="{'is-invalid': submitted && f.name.invalid}">
    </form-row>
    <form-row forInput="surname" label="Surname" [isInvalid]="submitted && f.surname.invalid" errorText="Surname is invalid">
      <input type="text" class="form-control" formControlName="surname" id="surname" [ngClass]="{'is-invalid': submitted && f.surname.invalid}">
    </form-row>
    <form-row forInput="role" label="User role" [isInvalid]="submitted && f.role.invalid" errorText="User role is invalid">
      <select class="form-control" formControlName="role" id="role" [ngClass]="{'is-invalid': submitted && f.role.invalid}">
        <option [value]="userRole" *ngFor="let userRole of userRoles">{{userRole}}</option>
      </select>
    </form-row>
  </div>
  <div class="modal-footer">
    <btn-primary label="Save"></btn-primary>
  </div>
</form>