.Container {
    text-align: center;
    position: relative;
}

.MainTitle {
    display: block;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
}

.MainGraphic {
    position: relative;
}

.Cog {
    width: 10rem;
    height: 10rem;
    fill: #0472b5;
}