<h2>Apartments</h2>
<div class="spinner-div" *ngIf="!apartmentsLoaded">
  <mat-spinner></mat-spinner>
</div>
<br>
<div *ngIf="apartmentsLoaded" class="container">
  <table mdbTable class="z-depth-0">
    <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of apartments; let i = index">
        <th scope="row">{{pageable.number*pageable.size + i + 1}}</th>
        <td>{{el.name}}</td>
        <td>{{el.address.city}}</td>
        <td>{{el.address.street}}</td>
        <td>{{el.address.apartmentNumber}}</td>
        <td>{{el.size}}</td>
        <td>
          <a [routerLink]="[el.id]">
            <mat-icon style="cursor: pointer;">settings</mat-icon>
          </a>
        </td>
        <td>
          <mat-icon style="cursor: pointer" (click)="deleteApartment(el.id)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
      <tr>
        <td [colSpan]="headElements.length">
          <paginator [pageable]="pageable" (nextPageClick)="nextPage()" (previousPageClick)="previousPage()"></paginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<btn-primary label="Add new apartment" (onClick)="addApartment($event)"></btn-primary>
