<div [formGroup]="item">
  <span>User {{index+1}}<hr flex/></span>
    <form-row forInput="userId" label="User" [isInvalid]="submitted && item.controls.userId.invalid" errorText="User is invalid">
      <select class="form-control" formControlName="userId" id="userId" [ngClass]="{'is-invalid': submitted && item.controls.userId.invalid}">
        <option *ngFor="let user of users" [value]="user.id">{{user.name}} {{user.lastName}}</option>
      </select>
    </form-row>
    <form-row forInput="flightTicket" label="Flight ticket">
      <input type="text" class="form-control" formControlName="flightTicket" id="flightTicket">
    </form-row>
  <form-row forInput="carRent" label="Car for rent">
    <input type="text" class="form-control" formControlName="carRent" id="carRent">
  </form-row>
  <div class="form-group form-check">
    <input type="checkbox" (click)="residenceSwitch()" class="form-check-input" formControlName="inApartment" id="inApartment">
    <label class="form-check-label" for="inApartment">Has user place in apartments?</label>
  </div>
  <div *ngIf="!livesInApartment">
    <form-row forInput="residenceAddress" label="Residence address" [isInvalid]="submitted && item.controls.residenceAddress.invalid" errorText="Residence address is invalid">
      <input type="text" class="form-control" formControlName="residenceAddress" id="residenceAddress">
    </form-row>
  </div>
  <span class="remove form-inline"><a (click)="removeUser()" *ngIf="!canRemove">Remove</a></span>
  <span class="add form-inline"><a (click)="addUser()" *ngIf="last">Add</a></span>
  <span><hr flex/></span>
</div>
